#repos{
    font-style: italic;
    background-color: #f9f9f9;
    max-height: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    min-width: 500px;
    max-height: 200px;
}


.transparent {
    background-color: rgba(255, 255, 255, 0.50); 
    padding: 10px; 
    border-radius: 8px;
  }
  
  #cart {
    position: relative;
  }

  #content{
    min-width: 60rem;
    max-width: 65rem;
  }

  #name{
    justify-content: space-between;
  }

  



@media (max-width: 767px) {
    #cart {
      min-width: 60px;
      flex-direction: column;
    }
    

    #repos{
        min-width: 30px;
        min-height: 10px;
        overflow: hidden;
        word-break: break-word;
    }


    #icon{
      flex-direction: column;
    }

    #bio{
      flex-direction: column;
    }

    #github{
      flex-direction: column;
      margin-right: 70px;
    }

    #content{
      min-width: 80px;
      min-height: 30px;
      max-width: 19rem;
      max-height: 30rem;
      overflow-y: auto;
    }

    #prevnext{
      display: flex;
      flex-direction: column;

    }

    #page{
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    
}

@media (min-width: 768px) and (max-width: 1023px) {
    #cart {
      min-width: 300px;
      flex-direction: row;
    }

    #repos{
        min-width: 500px;
        min-height: 150px;
        max-height: 600px;
    }


    #icon{
      flex-direction: row;
    }

    #bio{
      flex-direction: row;
    }

    #github{
      flex-direction: row;
      margin-right: 0px;
    }


    #content{
      min-width: 700px;
      max-width: 40rem;
      min-height: 50rem;
      overflow-y: auto;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    #cart {
      min-width: 300px;
      flex-direction: row;
    }

    #repos{
        min-width: 500px;
        min-height: 100px;
        max-height: 690px;
    }

    #icon{
      flex-direction: row;
    }

    #bio{
      flex-direction: row;
    }

    #github{
      flex-direction: row;
      margin-right: 0px;
    }

    #content{
      min-width: 700px;
      max-width: 50rem;
      min-height: 60rem;
      overflow-y: auto;
    }
}

@media ( width:1024px) and (height:600px) {
    #cart {
      min-width: 300px;
      flex-direction: row;
    }

    #repos{
        min-width: 500px;
        min-height: 100px;
        max-height: 240px;
    }

    #icon{
      flex-direction: row;
    }

    #bio{
      flex-direction: row;
    }

    #github{
      flex-direction: row;
      margin-right: 0px;
    }

    #content{
      min-width: 700px;
      max-width: 36rem;
      min-height: 30rem;
      overflow-y: auto;
    }
}